# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

#==========================================
# Environment & Configuration
#==========================================
# Ignore all .env files
.env*

# Allow example files for developer setup
!.env.example
!.env.example.local

#==========================================
# Golang Tools
#==========================================
gotestsum
richgo
gotest

#==========================================
# Frontend
#==========================================
frontend/node_modules/
frontend/.cache/
frontend/build/
frontend/dist/
frontend/*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*


# dependencies
frontend/node_modules
frontend/.pnp
frontend/.pnp.*
frontend/.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
frontend/coverage

# next.js
frontend/.next/
frontend/out/

# production
frontend/build

# misc
.DS_Store
*.pem

# debug
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
